// Manifest
#define CREATEPROCESS_MANIFEST_RESOURCE_ID       1
#define RT_MANIFEST                             24
#define CONTROL_PANEL_RESOURCE_ID              123

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "MyTimeZones.exe.manifest"

// Text
STRINGTABLE DISCARDABLE
BEGIN
       // English text
       // Common text
      0 "Message at: # hour"
      1 "Select timezone"
      2 "Timezone:"
      3 "Image"
      4 "Open Image"
      5 "Clear input"
      6 "Free"
      7 "This favorit is free"
      8 "First, Second, Thirth, Fourth, Last"
      9 "TimeServer:"
     10 "Version:"
     11 "by"
     12 "Back"
     13 "First weekday:"
     14 "Day"
     15 "Date"
     16 "Description"
     17 "Period"
     18 "Special days"
     19 "quarters"
     20 "seasons"
     21 "moonphases"
     22 "zodiac"
     23 "Report"
     24 "Select time part"
     25 "All rights reserved worldwide"
     26 "Open"
     27 "This $ has,These $ have"
     28 "favorit,favorits"
     29 "Favorite and timezone are equal"

       // SysTray
     40 "Left mousebutton to activate."
     41 "Right mousebutton for menu."

       // frmMyTimeZones
     50 "Recover date, time and daylightsetting"
     51 "Synchronise date and time by internet"
     52 "Set timezone, date and time in system"
     53 "Clock not automatically changed with daylight"
     54 "Timezone information"
     55 "Timezone map"
     56 "Calendar"
     57 "Add favorit"
     58 "Delete favorit"
     59 "Settings"
     60 "Close"
     61 "Changing system date is locked!"
     62 "Clock automatically changed with daylight"
     63 "This zone does not have daylight changes"
     64 "Changing favorits is locked!"
     72 "There are no favorits!"
     73 "No favorites selected!"
     78 "with text;"
     80 "Move screen"
     81 "Change date or time"
     82 "Select date part"
     90 "Minimized"
     91 "System tray"
     95 "Internet is not configured!"
     96 "Date and time synchronisation by internet is locked!"
     97 "Message for:"
     98 "$ in $ $; # and #"
     99 "between,after,before"

       // frmInfo
    100 "Normal Bias"
    101 "hour to convert local time to UTC"
    102 "Standard Name"
    103 "Standard Bias"
    104 "hour to add to Normal Bias"
    105 "Time difference with computertime"
    106 "There are no daylight differences at this zone!"
    107 "Daylight Name"
    108 "Daylight Bias"
    109 "hour"
    110 "Daylight-saving time $ on"
    111 "begins"
    112 "ends"
    113 "summer time"
    114 "winter time"
    115 "Local computer time"
    116 "Universal Time Coordinated (UTC)"
    117 "Local time for this timezone"
    118 "Local $ for this timezone"
    119 "in"
    120 "For this year it is at:"
    121 "For this year it was at:"
    122 "at:"
    123 "The"
    124 "Keyname in registry"
    130 "alarm time:"
    142 "Image"
    143 "Alarm on"
    144 "Alarm off"
    145 "Alarm message"
    146 "There are only default names!"
    147 "Clear own data"
    150 "Change alarm time"
    151 "Select clock name"

       // frmImage
    160 "Clock image"
    161 "Delete image"
    162 "Search image"
    163 "Show image as clock"
    164 "Location: "

       // frmEditMessage
    165 "Text for message:"
    166 "Add time"
    167 "Add date"

       // frmMap
    171 "Timemap"
    172 "Zonemap"

       // frmSettings
    180 "Show introductionscreen"
    181 "Show border of selected clock"
    182 "Show tiptexts"
    183 "Show messagescreen"
    184 "Play sound effects"
    185 "Keep Mouse in ThumbWheel"
    186 "Lock system date setting"
    187 "Lock changing favorit"
    188 "Check on double alarm times"
    189 "Start automaticaly with Windows"
    190 "Synchronise date/time automatically"
    191 "Save changes automatically"
    193 "Settings will be saved automatically"
    194 "Default values"
    195 "Information"
    196 "Save settings"
    197 "Default values are set"
    198 "Lock date/time synchronisation"
    199 "Select server for time synchronisation"

       // frmCalendar
    200 "Select day"
    201 "Press <Enter> for:"
    205 "Show special days"
    206 "Southern hemisphere"
    207 "Northern hemisphere"
    208 "Change special days"
    210 "Time between dates"
    211 "Show differences in:"
    212 "Begin date:"
    213 "End date:"
    214 "Days to end date:"
    215 "Show:"
    216 "Delete automaticly"
    217 "Seconds,Minutes,Hours,Days,Weeks,Months,Quarters,Years"
    218 "Total time,Passed time,Remaining time"

       // frmSpecialDays
    230 "Days related to Easter"
    231 "Day in month"
    232 "Total days:"
    235 "Click to change data"
    241 "Change"
    242 "Add"
    243 "Save"
    244 "Recover"

       // frmMessage
    260 "Cancel"
    261 "Ok"

       // Error messages
    300 "Attention!"
    301 "Unable to locate Timezones information in registry under the key:"
    302 "Error for searching Timezones"
    303 "Caution!"
    304 "Favorit timezone: $ overwrite with timezone: $?"
    305 "Favorits"
    306 "Timezone: $ exist as clock: $!"
    307 "Favorit timezone: $ delete?"
    308 "Error by Date/Time data."
    309 "Read error!"
    310 "File not found!"
    311 "Fileformat is invalid!"
    312 "Error while loading image"
    313 "System date and time"
    314 "Synchronisation"
    315 "Synchronise system date and time?"
    316 "Change"
    317 "Change system date and time?"
    318 "Save settings"
    319 "Save settings?"
    320 "Clock names"
    321 "Delete own data?"
    322 "Error by clock sychronising!"
    323 "Error by connecting to Internet."
    324 "Error by opening URL: $."
    325 "Date/Time synchronisation"
    326 "Special day file; $ not found!"
    327 "Create file?"
    328 "Items"
    329 "Save item: $?"
    330 "Delete item: $?"
    331 "Maximum items"
    332 "The limit for # is reached!"
    333 "Limit for special day file reached!"
    334 "Modem connection"
    335 "Close the internet-connection?"
    336 "There is a 'Off line' internet-connection!"
    337 "There is no internet-connection!"
    338 "Text is to long, maximum of # characters!"
    339 "$ the same UTC alarm time: #!"
    340 "Error for date!"
    341 "below,above"
    342 "To many days, maximum days: #."
    343 "No information available for this favorit!"
    344 "Default settings"
    345 "Set default setings?"
    346 "Delete message text?"
    347 "Delete clock image?"
    348 "Delete time between dates?"
    349 "Default values are set!"
    350 "This favorit is free!"
    351 "This timezone is equal to favorite!"

       // Calendar UserControl
    401 "Day # in: ,Week: ,Begin of calendar!,End of calendar!,Today:"
    403 "First quarter,Second quarter,Third quarter,Fourth quarter"
    404 "Spring,Summer,Autumn,Winter"
    405 "New moon,First quarter,Full moon,Third quarter"
    406 "# day before,# day after,# days before,# days after,the"
    407 "Ram,Bull,Twins,Crab,Lion,Virgin,Scales,Scorpion,Archer,Goat,Water Carrier,Fishes"

       // Spanish text
       // Common text
    500 "Mencionar en: # hora"
    501 "Seleccionar huso horario"
    502 "Huso horario:"
    503 "Imagenes"
    504 "Abrir Imagen"
    505 "Borrar entrada"
    506 "Libre"
    507 "El favorito este libre"
    508 "Primero,Segundo,Tercero,Cuarto,Último"
    509 "Servidor horario:"
    510 "Versión:"
    511 "de"
    512 "Regresar"
    513 "El primer día de la semana:"
    514 "Día"
    515 "Fecha"
    516 "Describir"
    517 "Período"
    518 "Días especial"
    519 "trimestres"
    520 "estaciónes"
    521 "posiciónes de la luna"
    522 "zodíaco"
    523 "Resumen"
    524 "Seleccionar parte la hora"
    525 "Todos los derechos reservados mundial"
    526 "Abrir"
    527 "Este $ tiene,Estos $ tienen"
    528 "favorito,favoritos"
    529 "Favorito y la zona horaria son iguales"

       // SysTray
    540 "Botón de ratón izquierdo a activar."
    541 "Botón de ratón derecho para el menú."

       // frmMyTimeZones
    550 "Corregir fecha y hora y iniciar horario de verano"
    551 "Sincronizar fecha y hora con internet"
    552 "Inicio el huso horario, fecha y hora en sistema"
    553 "Reloj no corregir automáticamente el horario de verano"
    554 "Informacion el huso horario"
    555 "Mappa el huso horario"
    556 "Calendario"
    557 "Reponer favorito"
    558 "Borrar favorito"
    559 "Opciones"
    560 "Cerrar"
    561 "¡Corregir la sistema bloquear!"
    562 "Reloj corregir automáticamente el horario de verano"
    563 "Este huso horario no tengo el horario de verano"
    564 "¡Corregir favoritos bloquear!"
    572 "¡Favoritos no existe!"
    573 "¡No hay favoritos seleccionados!"
    578 "con texto;"
    580 "Mover ventana"
    581 "Modificar fecha y hora"
    582 "Seleccionar parte la fecha"
    590 "Minimizar"
    591 "La bandeja"
    595 "¡Internet es no configurar!"
    596 "¡Sincronización fecha y hora con internet bloquear!"
    597 "Mencionar el:"
    598 "$ en $ $; # y #"
    599 "entre,después de,hasta"

       // frmInfo
    600 "Bias normal"
    601 "hora por convertir hora local a UTC"
    602 "Nombre normalizado"
    603 "Bias normalizado"
    604 "hora sumar a Bias normal"
    605 "Diferencia el tiempo con ordenador"
    606 "¡En esta zona no diferencias el horario de verano!"
    607 "Nombre el horario de verano"
    608 "Bias el horario de verano"
    609 "hora"
    610 "El horario de verano $ en"
    611 "empezar"
    612 "terminar"
    613 "horario de verano"
    614 "horario de invierno"
    615 "Hora local en ordenador"
    616 "Coordenada Hora Universal (UTC)"
    617 "La hora local por el huso horario"
    618 "$ local por el huso horario"
    619 "en"
    620 "Por este año está en:"
    621 "Por este año fuera en:"
    622 "de:"
    623 "El"
    624 "Nombre el clave en registro"
    630 "la hora de alarma:"
    642 "Imagen"
    643 "Poner alarma"
    644 "Apagar alarma"
    645 "Mencionar de alarma"
    646 "¡Solamente nombres normalizado está!"
    647 "Borrar entrada particular"
    650 "Modificar la hora de alarma"
    651 "Selección el nombre de reloj"

       // frmImage
    660 "Imagen de reloj"
    661 "Borrar imagen"
    662 "Buscando imagen"
    663 "Mostrar imagen como reloj"
    664 "Sitio:"

       // frmEditMessage
    665 "Texto por mencionar:"
    666 "Agregar hora"
    667 "Agregar fecha"

       // frmMap
    671 "Mapa el tiempo"
    672 "Mapa la zona"

       // frmSettings
    680 "Mostrar ventana de introducción"
    681 "Mostrar borde de reloj seleccionar"
    682 "Mostrar textos de información"
    683 "Mostrar ventana de informar"
    684 "Poner efecto de sonido"
    685 "Ratón en la rueda moleteada"
    686 "Bloquear iniciar horario la sistema"
    687 "Bloquear modificar el favorito"
    688 "Verificar en tiempos dobles del alarmar"
    689 "Iniciar con Windows automáticamente"
    690 "Sincronizar fecha y hora automáticamente"
    691 "Guardar modificaciones automáticamente"
    693 "Modificaciones está guardar automáticamente"
    694 "Valores prefijado"
    695 "Información"
    696 "Guardar modificaciones"
    697 "Los valores prefijado se establecen"
    698 "Bloquear sincronización fecha y hora"
    699 "Seleccionar servicidor por sincronizar fecha y hora"

       // frmCalendar
    700 "Seleccionar el día"
    701 "Pulse <Enter> para:"
    705 "Mostrar días especial"
    706 "Hemisferio meridional"
    707 "Hemisferio norteño"
    708 "Modificas días especial"
    710 "Tiempo entre las fechas"
    711 "Mostrar las diferencias en:"
    712 "La fecha comienza:"
    713 "La fecha extremo:"
    714 "Dias hasta la fecha extremo:"
    715 "Mostrar:"
    716 "Borar automáticamente"
    717 "Segundos, Minutos, Horas, Días, Semanas, Meses, Trimestres, Años"
    718 "El tiempo total,El tiempo pasar,El tiempo restante"

       // frmSpecialDays
    730 "Días ralcaionar de Pascua"
    731 "Un día firmemente el mes"
    732 "Algunas días:"
    735 "Clic por modificar de datos"
    741 "Cambiar"
    742 "Agregar"
    743 "Guardar"
    744 "Corregir"

       // frmMessage
    760 "Cancelar"
    761 "Aceptar"

       // Error messages
    800 "¡Atención!"
    801 "Es no posible por localizar información de Huso horario en registro bajo la llave:"
    802 "Falta en buscando por huso horario"
    803 "¡Cuidado!"
    804 "¿Huso horario vavorito: $, sobre escribir con huso horario: $?"
    805 "Favoritos"
    806 "¡Huso horario: $ está el reloj: $!"
    807 "¿Favorito huso horario: $ borrar?"
    808 "Error en data por Fecha y Hora."
    809 "¡Error leer!"
    810 "¡No se encontró archivo!"
    811 "¡Formato archivo es incorrecto!"
    812 "Error el cargar de Imagen"
    813 "Fecha la sistema"
    814 "Sincronizar"
    815 "¿Sincronizar fecha y hora la sistema?"
    816 "Modificar"
    817 "¿Modificar fecha y hora la sistema?"
    818 "Guardar opciones"
    819 "¿Guardar opciones?"
    820 "El nombres de reloj"
    821 "¿Borrar entrada particular?"
    822 "¡Error en sincronizar el Reloj!"
    823 "Error en ejecutar una conexión el Internet."
    824 "Error en destapar el URL: $."
    825 "Sincronización Fecho y Hora"
    826 "¡El archivo por días especial; $ no existe!"
    827 "¿Preparar archivo?"
    828 "Ítems"
    829 "¿Guardar ítem: $?"
    830 "¿Borrar ítem: $?"
    831 "Ítems maxima"
    832 "¡Llegar límite por: #!"
    833 "¡Llegar límite por archivo días especial!"
    834 "Conexión con modem"
    835 "¿Cortár conexión de internet?"
    836 "¡Un conexión de internet 'Off line' está!"
    837 "¡No hay conexión de internet!"
    838 "¡El texto es desear, máximo de # caracteres!"
    839 "¡$ el mismo tiempo del alarmar del UTC: #!"
    840 "¡Error por la fecha!"
    841 "debajo de,encima de"
    842 "Un exceso de días, máximum días: #."
    843 "¡No información por éste favorito disponible!"
    844 "Normalizar opciones"
    845 "¿Inicio el normalizado opciones?"
    846 "¿Borrar texto mencionar?"
    847 "¿Borrar imagen de reloj?"
    848 "¿Borrar tiempo entre las fechas?"
    849 "¡Los valores prefijado se establecen!"
    850 "¡El favorito este libre!"
    851 "¡Esta zona horaria es igual a favorito!"

       // Calendar UserControl
    901 "Día # de: ,Semana: ,¡Inicio del calendario!,¡Fin del calendario!,Hoy:"
    903 "Primero trimestre,Segundo trimestre,Tercero trimestre,Cuarto trimestre"
    904 "Primavera,Verano,Otoño,Invierno"
    905 "Luna nueva,Primero cuarto,Luna llena,Último cuarto"
    906 "# dia antes,# dia después,# dias antes,# dias después,de"
    907 "Aries,Tauro,Géminis,Cáncer,Leo,Virgo,Libra,Escorpio,Sagitario,Capricornio,Acuario,Piscis"

       // Dutch text
       // Common text
   1000 "Melding om: # uur"
   1001 "Selecteer tijdzone"
   1002 "Tijdzone:"
   1003 "Afbeeldingen"
   1004 "Open Afbeelding"
   1005 "Wis invoer"
   1006 "Vrij"
   1007 "Deze favoriet is vrij"
   1008 "Eerste,Tweede,Derde,Vierde,Laatste"
   1009 "TijdServer:"
   1010 "Versie:"
   1011 "bij"
   1012 "Terug"
   1013 "Eerste dag van de week:"
   1014 "Dag"
   1015 "Datum"
   1016 "Omschrijving"
   1017 "Periode"
   1018 "Speciale dagen"
   1019 "kwartalen"
   1020 "seizoenen"
   1021 "maanstanden"
   1022 "dierenriem"
   1023 "Overzicht"
   1024 "Selecteer tijd deel"
   1025 "Alle rechten wereldwijd voorbehouden"
   1026 "Open"
   1027 "Deze $ heeft,Deze $ hebben"
   1028 "favoriet,favorieten"
   1029 "Favoriet en tijdzone zijn gelijk"

       // SysTray
   1040 "Linkermuisknop om te activeren."
   1041 "Rechtermuisknop voor menu."

       // frmMyTimeZones
   1050 "Herstel datum, tijd en zomertijd instelling"
   1051 "Synchroniseer datum en tijd via internet"
   1052 "Plaats tijdzone, datum en tijd in systeem"
   1053 "Klok niet automatisch aanpassen aan zomertijd"
   1054 "Tijdzone informatie"
   1055 "Tijdzone map"
   1056 "Kalender"
   1057 "Toevoegen favoriet"
   1058 "Verwijderen favoriet"
   1059 "Instellingen"
   1060 "Afsluiten"
   1061 "Aanpassen systeem geblokkeerd!"
   1062 "Klok automatisch aanpassen aan zomertijd"
   1063 "Deze zone heeft geen zomertijd"
   1064 "Aanpassen favorieten geblokkeerd!"
   1072 "Er zijn geen favorieten!"
   1073 "Geen favoriet geselecteerd!"
   1078 "met tekst;"
   1080 "Venster verplaatsen"
   1081 "Wijzigen datum of tijd"
   1082 "Selecteer datum deel"
   1090 "Minimaliseren"
   1091 "Taakbalk"
   1095 "Internet is niet geconfigureerd!"
   1096 "Synchroniseren datum en tijd via internet geblokkeerd!"
   1097 "Melding voor:"
   1098 "$ in $ $; # en #"
   1099 "tussen,na,tot"

       // frmInfo
   1100 "Normale Bias"
   1101 "uur voor converteren van lokale tijd naar UTC"
   1102 "Standaard Naam"
   1103 "Standaard Bias"
   1104 "uur optellen bij de Normale Bias"
   1105 "Tijdverschil met computertijd"
   1106 "Er zijn geen zomertijd verschillen voor deze zone!"
   1107 "Zomertijd Naam"
   1108 "Zomertijd Bias"
   1109 "uur"
   1110 "Zomertijd $ op"
   1111 "begint"
   1112 "eindigt"
   1113 "zomertijd"
   1114 "wintertijd"
   1115 "Lokale tijd van de computer"
   1116 "Universele Tijd Coördinatie (UTC)"
   1117 "Lokale tijd van deze tijdzone"
   1118 "Lokale $ van deze tijdzone"
   1119 "in"
   1120 "Voor dit jaar is dit op:"
   1121 "Voor dit jaar was dat op:"
   1122 "om:"
   1123 "De"
   1124 "Sleutelnaam in register"
   1130 "alarm tijd:"
   1142 "Afbeelding"
   1143 "Alarm aan"
   1144 "Alarm uit"
   1145 "Melding voor alarm"
   1146 "Er zijn alleen standaard namen!"
   1147 "Wis eigen invoer"
   1150 "Wijzig alarm tijd"
   1151 "Selecteer naam voor klok"

       // frmImage
   1160 "Afbeelding voor klok"
   1161 "Wis afbeelding"
   1162 "Zoek afbeelding"
   1163 "Toon afbeelding als klok"
   1164 "Lokatie:"

       // frmEditMessage
   1165 "Tekst voor melding:"
   1166 "Tijd toevoegen"
   1167 "Datum toevoegen"

       // frmMap
   1171 "Tijdmap"
   1172 "Zonemap"

       // frmSettings
   1180 "Toon introductiescherm"
   1181 "Toon rand geselecteerde klok"
   1182 "Toon tipteksten"
   1183 "Toon meldingscherm"
   1184 "Afspelen geluidseffecten"
   1185 "Muis vast in duimwiel"
   1186 "Blokkeer instellen systeemdatum"
   1187 "Blokkeer wijzigen favoriet"
   1188 "Controleer dubbele alarm tijden"
   1189 "Start automatisch met Windows"
   1190 "Automatische tijdsynchronisatie"
   1191 "Wijzigingen automatisch opslaan"
   1193 "Instellingen worden automatisch opgeslagen"
   1194 "Standaardwaarden"
   1195 "Informatie"
   1196 "Sla instellingen op"
   1197 "Standaardwaarden zijn ingesteld"
   1198 "Blokkeer tijdsynchronisatie"
   1199 "Selecteer server voor tijdsynchronisatie"

       // frmCalendar
   1200 "Selecteer dag"
   1201 "Druk <Enter> voor:"
   1205 "Toon speciale dagen"
   1206 "Zuidelijk halfrond"
   1207 "Noordelijk halfrond"
   1208 "Aanpassen speciale dagen"
   1210 "Tijd tussen datums"
   1211 "Toon verschil in:"
   1212 "Begin datum:"
   1213 "Eind datum:"
   1214 "Dagen tot eind datum:"
   1215 "Toon:"
   1216 "Verwijder automatisch"
   1217 "Seconden,Minuten,Uren,Dagen,Weken,Maanden,Kwartalen,Jaren"
   1218 "Totale tijd,Verstreken tijd,Resterende tijd"

       // frmSpecialDays
   1230 "Dagen gerelateerd aan Pasen"
   1231 "Vaste dag in de maand"
   1232 "Aantal dagen:"
   1235 "Klik om gegevens aan te passen"
   1241 "Wijzigen"
   1242 "Toevoegen"
   1243 "Opslaan"
   1244 "Herstellen"

       // frmMessage
   1260 "Annuleer"
   1261 "Ok"

       // Error messages
   1300 "Attentie!"
   1301 "Het is niet mogelijk om in het register informatie over de Tijdzones te lokaliseren onder de sleutel:"
   1302 "Fout bij zoeken naar Tijdzones"
   1303 "Let op!"
   1304 "Favoriete tijdzone: $ overschrijven met tijdzone: $?"
   1305 "Favorieten"
   1306 "Tijdzone: $ betaat als klok: $!"
   1307 "Favoriete tijdzone: $ verwijderen?"
   1308 "Fout bij data voor Datum/Tijd."
   1309 "Lees fout!"
   1310 "Bestand niet gevonden!"
   1311 "Bestandsformaat is onjuist!"
   1312 "Fout bij laden van Afbeelding"
   1313 "Systeemdatum en tijd"
   1314 "Synchronisatie"
   1315 "Systeemdatum en tijd synchroniseren?"
   1316 "Aanpassen"
   1317 "Systeemdatum en tijd aanpassen?"
   1318 "Opslaan van instellingen"
   1319 "Instellingen opslaan?"
   1320 "Namen van Klok"
   1321 "Eigen invoer verwijderen?"
   1322 "Fout bij het sychroniseren van Klok!"
   1323 "Fout bij het maken van een verbinding naar Internet."
   1324 "Fout bij het openen van URL: $."
   1325 "Datum/Tijd synchronisatie"
   1326 "Het bestand voor speciale dagen; $ is niet gevonden!"
   1327 "Bestand aanmaken?"
   1328 "Items"
   1329 "Item: $ opslaan?"
   1330 "Item: $ verwijderen?"
   1331 "Maximum items"
   1332 "Limiet voor: # is bereikt!"
   1333 "Limiet bereikt voor het bestand speciale dagen!"
   1334 "Modem verbinding"
   1335 "Verbinding met internet verbreken?"
   1336 "Er is een 'Off line' internet-verbinding!"
   1337 "Er is geen internet-verbinding!"
   1338 "Tekst is te lang, maximaal # tekens!"
   1339 "$ dezelfde UTC alarm tijd: #!"
   1340 "Fout voor datum!"
   1341 "onder,boven"
   1342 "Teveel dagen, maximum aantal dagen: #."
   1343 "Geen informatie beschikbaar voor deze favoriet!"
   1344 "Standaard instellingen"
   1345 "Zet standaard instellingen?"
   1346 "Melding tekst verwijderen?"
   1347 "Afbeelding voor klok verwijderen?"
   1348 "Tijd tussen datums verwijderen?"
   1349 "Standaardwaarden zijn ingesteld!"
   1350 "Deze favoriet is vrij!"
   1351 "Deze tijdzone is gelijk aan favoriet!"

       // Calendar UserControl
   1401 "Dag # in: ,Week: ,Begin van kalender!,Einde van kalender!,Vandaag:"
   1403 "Eerste kwartaal,Tweede kwartaal,Derde kwartaal,Vierde kwartaal"
   1404 "Lente,Zomer,Herfst,Winter"
   1405 "Nieuwe maan,Eerste kwartier,Volle maan,Laatste kwartier"
   1406 "# dag voor,# dag na,# dagen voor,# dagen na,het"
   1407 "Ram,Stier,Tweelingen,Kreeft,Leeuw,Maagd,Weegschaal,Schorpioen,Boogschutter,Steenbok,Waterman,Vissen"
END

// Sounds
      1 SOUNDS MOVEABLE PURE "Signal.wav"
      2 SOUNDS MOVEABLE PURE "Attention.wav"

// LED Font
      1 BIN MOVEABLE PURE "LEDFont_6x7.fnt"
